services:
    nod32-mirror-worker:
        container_name: nod32-mirror-worker
        build:
            context: worker
        restart: always
        environment:
            UPDATE_INTERVAL: 3600 # update interval in seconds
        volumes:
            - ./nod32ms.conf:/app/nod32ms.conf
            - ./docker-data/www:/app/www
            - ./docker-data/log:/app/log

    nod32-mirror-nginx:
        container_name: nod32-mirror-nginx
        build:
            context: nginx
        restart: always
        ports:
            - 8084:80
        volumes:
            - ./docker-data/www:/app/www
