version: "3"

services:
    nod32mirror-worker:
        container_name: nod32mirror-worker
        build:
            context: worker
        restart: always
        environment:
            UPDATE_INTERVAL: 3600 # update interval in seconds
        volumes:
            - ./nod32ms-dev.conf:/app/nod32ms.conf
            - ./docker-data/www:/app/www
            - ./docker-data/log:/app/log

    nod32mirror-nginx:
        container_name: nod32mirror-nginx
        build:
            context: nginx
        restart: always
        ports:
            - 8084:80
        volumes:
            - ./docker-data/www:/app/www
